<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Name addition</h5>
              <form>
                <div class="form-group">
                  <input #taskdetail type="text" name="title" class="form-control mt-3" [placeholder]="username">
                </div>
                <button (click)="onClick(taskdetail)" type="button" class="btn btn-sm btn-primary mt-3">Submit</button>
              </form>
            </div>
          </div>
    </div>
    <div class="col-md-6">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th colspan="2" scope="col">User name</th>
              </tr>
            </thead> 
            <tbody *ngFor="let i of taskList; index as userno">
              <tr *ngIf="i">
                <td><strong>{{i}}</strong></td>
                <td><button type="button" (click)="onDelete(userno)" class="btn btn-sm btn-danger mt-3">Remove it</button></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
